# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log
media/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Node (if added later)
node_modules/
