{% if skills %}
<section id="skills">
    <div class="container" data-aos="fade-up">

        <h2 class="text-center mb-5 section-title">My Skills</h2>

        <div class="skills-grid">
            {% for skill in skills %}
            <div class="skill-card">
                <div class="skill-icon">
                    <i class="{{ skill.extra_data.icon }}"></i>
                </div>
                <h5>{{ skill.title }}</h5>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}